html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:700|Roboto:700');

.textBox {
  text-align: center;
  border: 10px black solid;
  font-family: 'Roboto', sans-serif;
  background: white;
  position: absolute;
}

.operation {
  width: 6em;
  height: 6em;
}

#pressS {
  width: 12em;
  height: 5em;
  top: 0;
  left: 0;
}

#stats {
  width: 29em;
  height: 17.5em;
  top: 0;
  right: 0;
}

.stat {
  font-family: 'Fira Mono', monospace;
}